@font-face {
    font-family: "Astralaga";
    src: url(astralaga-regular.ttf);
}

@media screen and (min-width: 0em) and (max-width: 37.5em) {
    body {
        background-color: #f3f9d2;
    }

    .header {
        display:inline;
        color: #c0d684;
        font-size: 1.5rem;
    }

    .hello {
        display: inline-block;
    }

    .world {
        display: inline-block;
    }
}

@media screen and (min-width: 37.5em) and (max-width: 48em) {
    body {
        background-color: #f3f9d2;
    }

    .header {
        display:inline;
        color: #c0d684;
        font-size: 2rem;
    }

    .hello {
        display: inline-block;
    }

    .world {
        display: inline-block;
    }
}

@media screen and (min-width: 48em) and (max-width: 62em) {
    body {
        background-color: #f3f9d2;
    }

    .header {
        display:inline;
        color: #c0d684;
        font-size: 2.5rem;
    }

    .hello {
        display: inline-block;
    }

    .world {
        display: inline-block;
    }
}

@media screen and (min-width: 62em) and (max-width: 75em) {
    body {
        background-color: #f3f9d2;
    }

    .header {
        display:inline;
        color: #c0d684;
        font-size: 3rem;
    }

    .hello {
        display: inline-block;
    }

    .world {
        display: inline-block;
    }
}

@media screen and (min-width: 75em) and (max-width: 100em) {
    body {
        background-color: #f3f9d2;
        font-family: 'Astralaga';
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header {
        display:inline-block;
        color: #c0d684;
        font-size: 3rem;
        margin-left: 3rem;
        margin-top: 0rem;
        padding: 0rem;
        line-height: 0;
        
    }

    .hello {
        display: inline-block;
        margin-right: 20rem;
    }

    .world {
        display: inline-block;
    }

    .italicize {
        font-style: italic;
        letter-spacing: 0.5rem;
    }

    .content {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .info {
        display: inline-block;
    }

    .face1 {
        height: 15rem;
        width: 15rem;
        object-fit: cover;
        border-radius: 7.5rem;
        display: inline;
        align-self: center;
    }

    .name {
        color: #c0d684;
        font-weight: bold;
        letter-spacing: 0.05rem;
        line-height: 0;
        font-size: 2rem;
    }

    .description {
        color: #c0d684;
        line-height: 0;
        letter-spacing: 0.05rem;
    }

    .navbar {
        display: inline-block;
        color: #c0d684;
        font-size: 2.5rem;
        margin-left: 25rem;
        width: 15rem;
        height: 25rem;
    }

    .options {
        transition: margin-left 1s, letter-spacing 1s, font-style 1s, font-size 1s;
        cursor: pointer;
    }

    .options:hover {
        margin-left: 2rem;
        letter-spacing: 1rem;
        font-style: normal;
        font-size: 5rem;
    }
}

@media screen and (min-width: 100em) {
    body {
        background-color: #f3f9d2;
    }

    .header {
        display:inline;
        color: #c0d684;
        font-size: 4rem;
    }

    .hello {
        display: inline-block;
    }

    .world {
        display: inline-block;
    }
}