body {
    font-family: "Noto Serif Display", serif;
    background-color: #f3f9d2;
    color: #c0d684;
}

.title {
    font-size: 10vw;
}
.hello {
    font-size: 7rem;
}

.world {
    margin-left: 20rem;
    font-size: 7rem;
}

.to-cursive {
    font-family: "Monsieur La Doulaise", cursive;
}

.photo-1 {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    margin-left: 3rem;
}

.navigation {
    font-size: 6rem;
    margin-left: 8rem;
}